<html ng-app="rhythm">
<head>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="cover.css">
</head>
<body ng-controller="MainController">
<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

	<!--		<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand"> </h3>
				</div>
			</div>-->

			<div class="inner cover">
				<div id="rootwizard" >
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<ul>
									<li><a href="#tab0" data-toggle="tab">Intro</a></li>
									<li><a href="#tab1" data-toggle="tab">Training</a></li>
									<li><a href="#tab3" data-toggle="tab">Survey</a></li>
									<li><a href="#tab4" data-toggle="tab">Finish</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane" id="tab0">
							<h1 class="cover-heading">Password usability study</h1>
							<p class="lead">You are registering for a new email account. Think of a password that you would use for a real account.</p>
							<p class="" ng-show="options.rhythm==1">Please also think of a rhythmic pattern (e.g. of your favourite song or something you make up) and enter your password {{trainingSize}} times in the training step.</p>
							<p class="" ng-show="options.rule==1">The password has to contain at least 6 characters and consist of at least 1 letter, 1 number and 1 special character ($%&/()=...).</p>
							<p class="" ng-hide="options.rule==1">The password can be of any kind and has no constraints.</p>
							<p>Please click on the "Next"-button to start the task.</p>
						</div>
						<div class="tab-pane" id="tab1">
							<h1 class="cover-heading">Training section</h1>
							<p class="" ng-show="options.rhythm==1">The password has to be entered with a rhythmic pattern (e.g. of your favourite song or something you make up)</p>
							<p class="" ng-show="options.rule==1">The password has to contain at least 6 characters and consist of at least 1 letter, 1 number and 1 special character ($%&/()=...).</p>
							<p class="" ng-hide="options.rule==1">The password can be of any kind and has no constraints.</p>
							<p class="lead">Enter your password here and press enter</p>
							<input class="form-control" type="password" id="pwd" ng-disabled="trainingSize-initialTrainings==0" ng-keydown="keyEvent($event, true)" ng-keyup="" ng-model="pwd">
							<div class="row">
								<div class="col-md-12" ng-show="trainingSize-initialTrainings>0">Please enter it {{trainingSize-initialTrainings}} more times.</div>
								<div class="col-md-12" ng-style="{'color':distributionMethod.loginStyle}">{{distributionMethod.trainStatusMsg}}</div>
							</div>
						</div>

						<div class="tab-pane" id="tab3">
							<div class="col-md-12">
								Survey here
							</div>
						</div>
						<div class="tab-pane" id="tab4">
							<div class="col-md-12">
								<h1 class="cover-heading">Finish</h1>
								<p class="lead">To complete the task please repeat your password and press Enter.</p>
								<input class="form-control" type="password" id="pwdtest2" ng-keydown="keyEvent($event, false, true)" ng-keyup="" ng-model="pwdtest">
								<!--<button class="btn btn-block btn-primary" ng-click="submit()">Submit data</button>-->
							</div>
						</div>
						<div style="float:right">
							<input type='button' class='btn btn-primary btn-block btn-sm button-next' name='next' value='Next' id="nexty" ng-disabled="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="chart.min.js"></script>
<script src="sha.js"></script>
<script src="slider.js"></script>

<script type="text/javascript">

	var hashalgo = "SHA-256";

	function hashText(plaintext){
		var shaObj = new jsSHA(hashalgo, "TEXT");
		shaObj.update(plaintext);
		return shaObj.getHash("HEX");
	}

	function getRandomTrainingSize(){
		var sizes = [3,5,10];
		var idx = Math.floor(Math.random()*3);
		return sizes[idx];
	}

	angular.module('rhythm', ['chart.js', 'ui.slider']).controller('MainController', ['$scope','$http','$templateCache', '$location', function($scope, $http, $templateCache, $location) {

		$scope.mturkid = $location.search().i;

		$scope.options = {
			'rhythm': $location.search().rh,
			'rule' : $location.search().ru
		};

		$scope.trainingSize = 5;//getRandomTrainingSize();

		$scope.id = Math.round(Math.random()*100000);

		$scope.pwd = "";
		$scope.eventTimes = [];

		$scope.inputs = [];

		$scope.startTime = 0;

		$scope.initialTrainings = 0;

		$scope.distributionMethod = {
			'adaption' : true,
			'trainStatusMsg' :'',
			'validateStatusMsg': '',
			'loginStyle': 'white',
			'trainings' : 0,
		};

		$scope.restMethod = {};
		$scope.restMethod.shortRestTime = 100;
		$scope.restMethod.longRestTime = 300;
		$scope.restMethod.restTimePattern = "";
		$scope.restMethod.restTimes = "";

		$scope.keyEvent = function (event, training, finished){
			if(event.keyCode == 13) {
				$scope.inputs.push([$scope.eventTimes.slice(),$scope.pwd, $scope.pwdtest, training, false, false]);
				$scope.restMethod.restTimes = "";
				if(!training) {
					if($scope.distributionMethod.trainings > 0) $scope.validateDistributionPwd();
					if($scope.restMethod.restTimePattern != "") $scope.validateRestedPassword();
				} else {
					if ($scope.train()) $scope.initialTrainings++;
				}



				if($scope.initialTrainings == $scope.trainingSize){
					$('#nexty').click();
					$('#pwdtest'+(training?"":"2")).focus();
				}

				if(finished && $scope.pwdtest == $scope.storedPwd){
					$scope.submit();
				}
				$scope.reset();
				return;
			}

			if(event.keyCode == 8){
				$scope.reset();
				return;
			}

			if(event.keyCode == 16 || event.keyCode == 9)
				return;

			curTime = Date.now();
			if ($scope.startTime == 0) $scope.startTime = curTime;

			$scope.eventTimes.push(curTime - $scope.startTime);

		}

		$scope.reset = function(){
			$scope.pwd  = "";
			$scope.pwdtest  = "";
			$scope.startTime = 0;
			$scope.eventTimes = [];
		}

		$scope.train = function(){
			if(!$scope.storedPwd) {
				if($scope.options.rule == "1" && ($scope.pwd.length < 6 || !$scope.pwd.match(/^(?=\D*\d)(?=.*?[a-zA-Z]).*[\W_]/))){
					$scope.distributionMethod.trainStatusMsg = "Password requirements not fulfilled...";
					return;
				}

				$scope.storedPwd = $scope.pwd;
				$scope.distributionMethod.trainedTimes = [];
				$scope.restMethod.modifiedPwd = "";
				for(i=0;i<$scope.eventTimes.length;i++){
					$scope.distributionMethod.trainedTimes.push([$scope.eventTimes[i]]);
					if(i>0) {
						restChar = $scope.getRestChar($scope.eventTimes[i]-$scope.eventTimes[i-1]);
						$scope.restMethod.restTimePattern += restChar;
						$scope.restMethod.modifiedPwd += restChar;
					}
					$scope.restMethod.modifiedPwd += $scope.pwd[i];
				}

				$scope.restMethod.hashedPwd = hashText($scope.restMethod.modifiedPwd);
				return true;
			}

			if($scope.pwd != $scope.storedPwd) {
				$scope.distributionMethod.trainStatusMsg = "Password not matching...";
				return;
			}

			$scope.normalizeTimes();

			for(i=0;i<$scope.eventTimes.length;i++){
				$scope.distributionMethod.trainedTimes[i].push($scope.eventTimes[i]);
			}

			$scope.calculateValues();

			$scope.distributionMethod.trainStatusMsg = "";
			//$scope.distributionMethod.trainStatusMsg = "trained";
			$scope.distributionMethod.trainings++;

			$scope.showGraph();

			return true;
		};

		$scope.normalizeTimes = function(){
			referenceTime = $scope.distributionMethod.trainedTimes[$scope.distributionMethod.trainedTimes.length-1][0]; // Time of last keyevent of first entry
			currentTime = $scope.eventTimes[$scope.eventTimes.length-1];

			factor = referenceTime/currentTime;

			for(i=0;i<$scope.eventTimes.length;i++) {
				$scope.eventTimes[i] = Math.round($scope.eventTimes[i] * factor);
			}
		};

		$scope.calculateValues = function(){
			$scope.distributionMethod.distributionInfo = [];
			for(i=0;i<$scope.distributionMethod.trainedTimes.length;i++) {
				itemSum = $scope.distributionMethod.trainedTimes[i].reduce(function(old, cur){ return old + cur; });
				m = itemSum/$scope.distributionMethod.trainedTimes[i].length;

				error = 0;
				for(j = 0; j < $scope.distributionMethod.trainedTimes[i].length;j++){
					error += Math.pow($scope.distributionMethod.trainedTimes[i][j] - m,2);
				}
				error = error / $scope.distributionMethod.trainedTimes[i].length;
				sigma = Math.sqrt(error);

				$scope.distributionMethod.distributionInfo.push([Math.round(m), Math.round(sigma)]);
			}
		};

		$scope.showGraph = function(){
			labels = [];
			datapoints = [];
			ms = [];
			deriv = [];

			lastinput = [];

			for(i=0; i<=$scope.distributionMethod.trainedTimes[$scope.distributionMethod.trainedTimes.length-1][0]; i++) {

				labels.push(i);
				for (j = 0; j < $scope.distributionMethod.trainedTimes.length; j++) {
					insert = false;
					for (k = 0; k < $scope.distributionMethod.trainedTimes[j].length; k++) {
						if($scope.distributionMethod.trainedTimes[j][k] == i) {
							insert = true;
							break;
						}
					}
					if(insert) break;
				}
				datapoints.push((insert) ? 0.2 : 0);

				height = 0;
				for(j=0 ; j< $scope.distributionMethod.distributionInfo.length; j++){
					if($scope.distributionMethod.distributionInfo[j][0] == i) {
						height = 3;
						break;
					}
				}
				ms.push(height);

				height = 0;
				for(j=0 ; j< $scope.distributionMethod.distributionInfo.length; j++){
					if((i == $scope.distributionMethod.distributionInfo[j][0] + $scope.distributionMethod.distributionInfo[j][1] * 1) || (i == $scope.distributionMethod.distributionInfo[j][0] - $scope.distributionMethod.distributionInfo[j][1] * 1)) {
						height = 2;
						break;
					}
					if((i == $scope.distributionMethod.distributionInfo[j][0] + $scope.distributionMethod.distributionInfo[j][1] * 2) || (i == $scope.distributionMethod.distributionInfo[j][0] - $scope.distributionMethod.distributionInfo[j][1] * 2)) {
						height = 1.5;
						break;
					}
					if((i == $scope.distributionMethod.distributionInfo[j][0] + $scope.distributionMethod.distributionInfo[j][1] * 3) || (i == $scope.distributionMethod.distributionInfo[j][0] - $scope.distributionMethod.distributionInfo[j][1] * 3)) {
						height = 1.25;
						break;
					}
				}
				deriv.push(height);

				height = 0;
				for(j=0; j< $scope.eventTimes.length;j++){
					if($scope.eventTimes[j] == i){
						height = 2.5;
						break;
					}
				}
				lastinput.push(height);
			}
			$scope.chartdata = [
				datapoints, ms, deriv, lastinput
			];
			$scope.chartlabels = labels;
			$scope.chartseries = ['A','b','c'];
		};

		$scope.validateDistributionPwd = function() {
			$scope.distributionMethod.validateStatusMsg = "";
			if ($scope.storedPwd != $scope.pwdtest) {
				$scope.distributionMethod.validateStatusMsg = "Passwords not matching";
				$scope.distributionMethod.loginStyle = 'red';
				return;
			}
			//inputTime = $scope.eventTimes[$scope.eventTimes.length - 1];
			/*if (inputTime < 0.666 * $scope.distributionMethod.trainedTimes[$scope.distributionMethod.trainedTimes.length - 1][0] || $scope.distributionMethod.trainedTimes[$scope.distributionMethod.trainedTimes.length - 1][0] * 1.33 < inputTime) {
			 $scope.validateStatusMsg = "Password not entered in valid timeinterval";
			 $scope.loginStyle = 'red';
			 return;
			 }*/

			$scope.normalizeTimes();

			sigma1 = 0;
			sigma2 = 0;
			sigma3 = 0;
			outside = 0;

			for (i = 0; i < $scope.eventTimes.length; i++) {
				time = $scope.eventTimes[i];
				sigma = $scope.distributionMethod.distributionInfo[i][1];
				m = $scope.distributionMethod.distributionInfo[i][0];
				if (time >= m - sigma && time <= m + sigma) {
					sigma1++;
				}
				if (time >= m - 2 * sigma && time <= m + 2 * sigma) {
					sigma2++;
				}
				if (time >= m - 3 * sigma && time <= m + 3 * sigma) {
					sigma3++;
				}
				if (time < m - 3 * sigma || time > m + 3 * sigma)
					outside++;
			}

			$scope.distributionMethod.sigma1 = sigma1;
			$scope.distributionMethod.sigma2 = sigma2;
			$scope.distributionMethod.sigma3 = sigma3;
			$scope.distributionMethod.outside = outside;

			if (outside == 0) {
				$scope.distributionMethod.validateStatusMsg = "Login successful";
				$scope.distributionMethod.loginStyle = 'green';
				$scope.inputs[$scope.inputs.length-1][5] = true;

				if($scope.eventTimes.length == sigma2 && $scope.distributionMethod.adaption){ // All inputs have to be at least < 2s
					for(i=0;i<$scope.eventTimes.length;i++){
						$scope.distributionMethod.trainedTimes[i].push($scope.eventTimes[i]);
					}

					$scope.calculateValues();

					$scope.distributionMethod.validateStatusMsg = "Login succesful and trained";
					$scope.distributionMethod.trainings++;
				}

			} else {
				/*$scope.distributionMethod.validateStatusMsg = "At least one tap wasn't in the allowed interval";
				$scope.distributionMethod.loginStyle = 'red';*/
			}

			$scope.showGraph();
		};

		$scope.validateRestedPassword = function(){
			$scope.normalizeTimes();

			restedPassword = "";
			for (i = 0; i < $scope.eventTimes.length; i++) {
				if (i > 0) restedPassword += $scope.getRestChar($scope.eventTimes[i] - $scope.eventTimes[i - 1]);
				restedPassword += $scope.pwdtest[i];
			}
			hashPwd = hashText(restedPassword);
			if(hashPwd == $scope.restMethod.hashedPwd){
				$scope.restMethod.validateStatusMsg = "Login successful (hash matches)";
				$scope.restMethod.loginStyle = "green";
				$scope.inputs[$scope.inputs.length-1][5] = true;
			} else {
				$scope.restMethod.validateStatusMsg = "Hash doesn't match";
				$scope.restMethod.loginStyle = "red";
			}
		};

		$scope.getRestChar = function(restTime) {
			char = "#";
			if($scope.restMethod.shortRestTime > restTime) char = ".";
			if($scope.restMethod.shortRestTime < restTime && $scope.restMethod.longRestTime > restTime) char = "+";

			$scope.restMethod.restTimes += char;

			return char;
		};

		$scope.get_options = function(){
			$http.get('get_options.php').then(function(data){
				$scope.options = data.data;
			});
		};

		$scope.submit = function(){
			$http({
				method: 'POST',
				url: 'submit.php',
				data: {
					'id': $scope.id,
					'inputs': $scope.inputs,
					'trainings': $scope.trainingSize,
					'password_length': $scope.pwd.length,
					'password' : $scope.storedPwd,
					'rhythm' : $scope.options.rhythm,
                    'rule' : $scope.options.rule,
                    'mturkid': $scope.mturkid
				},
				headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				cache: $templateCache
			}).then(function(data){
				document.location = "/thankyou.php?code="+data.data;
			});

		};


		//$scope.get_options();
	}]);

	$(document).ready(function() {
		$('#rootwizard').bootstrapWizard({'nextSelector': '.button-next', onTabClick: function(tab, navigation, index) {
			return false;
		}});
	});

</script>

</html>