<html ng-app="rhythm">
<head>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="cover.css">
</head>
<body ng-controller="MainController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top:50px; height:600px; border:1px solid black; border-radius: 5px;">
            <div style="position:absolute; width:100%; height: 50px;background-color:#cccccc; margin-left:-15px; border-top-left-radius: 5px; border-top-right-radius: 5px; ">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-top:10px; margin-left:10px;">Rhythmic password usability study</h3>
                    </div>
										<div class="col-md-3">
											<button class="btn btn-primary btn-block" style="margin-top:10px; margin-left:10px;" ng-click="next()">Next</button>
										</div>
                </div>
            </div>

            <div style="position:absolute; margin-top: 200px;">
                <div class="col-md-12">
                    <p>Researchers at University of Bonn are conducting a set of experiments with user-chosen passwords. You will have to create a password that has to fulfill a given criteria and then answer a short survey. <br/><br/>
                        The information collected in this study will be kept confidential and stored anonymously. Also, no identifying information will be referenced in the publication or presentation of the study.<br/><br/>
                        The whole study should take you about 10 minutes.<br/><br/>
                        We will pay you $1 for your participation.<br/>
                        You can withdraw from the study at any time.</p>
                    <p>Please click on the "Next"-button below to start</p>
                </div>
            </div>

            <div style="position:absolute; width:100%; height: 50px;background-color:#cccccc; margin-left:-15px; margin-top:548px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; ">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-top:10px; margin-left:10px;"></h3>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block" style="margin-top:10px; margin-left:10px;" ng-click="next()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>

<script type="text/javascript">

	angular.module('rhythm', []).controller('MainController', ['$scope','$http','$templateCache', '$location', function($scope, $http, $templateCache, $location) {
        $scope.startTime = Date.now();

		$scope.mturkid = $location.search().i;

		$scope.options = {
			'rhythm': $location.search().rh,
			'rule' : $location.search().ru
		};

        $scope.next = function(){
            $http({
				method: 'POST',
				url: 'php/new_participant.php',
				data: {
					'rhythm' : $scope.options.rhythm,
                    'rule' : $scope.options.rule,
                    'mturkid': $scope.mturkid,
                    'duration': Date.now()-$scope.startTime,
                    'page': 1
				},
				headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				cache: $templateCache
			}).then(function(data){
                var paramstring = "#?i="+data.data+"&ru="+$scope.options.rule+"&rh="+$scope.options.rhythm;
                /*if($scope.options.rhythm == "1")
				    document.location = "/rhythmicpasswords.html"+paramstring;
                else*/
                    document.location = "/rules.html"+paramstring;
			});
        }
	}]);
</script>

</html>
