<html ng-app="rhythm">
<head>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="cover.css">
</head>
<body ng-controller="MainController">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top:50px; height:600px; border:1px solid black; border-radius: 5px;">
            <div style="position:absolute; width:100%; height: 50px;background-color:#cccccc; margin-left:-15px; border-top-left-radius: 5px; border-top-right-radius: 5px; ">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-top:10px; margin-left:10px;">Rhythmic password usability study</h3>
                    </div>
                    <div class="col-md-4">
                        <h3 style="margin-top:10px; margin-left:10px;"></h3>
                    </div>
                </div>
            </div>

            <div style="position:absolute; margin-top: 220px; width:96%;">
                <div class="col-md-12" ng-show="options.step < 6"><b>Step {{options.step}} of 5</b></div>
				<div class="col-md-12">
					<p>Please enter your password here and click on next or press enter:</p>
				</div>
                <div class="col-md-12">
                    <p><input class="form-control" style="width:100%;" ng-style="inputstyle" type="password" id="pwd" ng-keydown="keyEvent($event, true)" ng-keyup="keyUp($event)" ng-model="pwd" autofocus></p>
                </div>
				<div class="col-md-12">
					<p ng-style="errorstyle">{{error}}</p>
				</div>
            </div>

            <div style="position:absolute; width:100%; height: 50px;background-color:#cccccc; margin-left:-15px; margin-top:548px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; ">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-top:10px; margin-left:10px;"></h3>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block" style="margin-top:10px; margin-left:10px;" ng-click="next()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>

<script type="text/javascript">

	angular.module('rhythm', []).controller('MainController', ['$scope','$http','$templateCache', '$location', function($scope, $http, $templateCache, $location) {
        $scope.lookAtSpecialCharacters = true;

        $scope.startTime = 0;
		$scope.pageLoaded = Date.now();

		$scope.firstKeypress = 0;
		$scope.numberOfBackspaces = 0;

        $scope.pwd = "";
		$scope.requirementserror = "";
		$scope.eventTimes = [];

		$scope.options = {
            'run_id': $location.search().i,
			'rhythm': $location.search().rh,
			'rule' : $location.search().ru,
            'step' : parseInt($location.search().step)
		};

        $scope.keyEvent = function (event){
			if(event.keyCode == 13) {
                $scope.next();
				return;
			}

			if(event.keyCode == 8){
				$scope.numberOfBackspaces += 1;
				$scope.reset();
				return;
			}

			if(event.keyCode == 16 || event.keyCode == 9)
				return;

			curTime = Date.now();
			if ($scope.startTime == 0) $scope.startTime = curTime;
			if ($scope.firstKeypress == 0) $scope.firstKeypress = curTime-$scope.pageLoaded;

			$scope.eventTimes.push(curTime - $scope.startTime);
		}

		$scope.keyUp = function(event){
			if(event.keyCode == 8 || event.keyCode == 16 || event.keyCode == 9 || event.keyCode == 13) return;
			curTime = Date.now();
			$scope.eventTimes.push(curTime - $scope.startTime);
		}

		$scope.reset = function(){
			$scope.pwd  = "";
			$scope.startTime = 0;
			$scope.eventTimes = [];
		}

        $scope.next = function(){
            if($scope.options.rule == "1" && ($scope.pwd.length < 8 || (!$scope.pwd.match(/^(?=\D*\d)(?=.*?[a-zA-Z]).*[\W_]/) && $scope.lookAtSpecialCharacters))){
				$scope.requirementserror = $scope.requirementserror + ";" +$scope.pwd;
                $scope.error = "Password requirements not fulfilled...";
                $("#error").show();
				$scope.reset();
                return;
            }

            $http({
				method: 'POST',
				url: 'php/log_next.php',
				data: {
					'run_id': $scope.options.run_id,
					'duration': Date.now()-$scope.pageLoaded,
					'page': 3+$scope.options.step,
                    'password': $scope.pwd,
                    'input': $scope.eventTimes.slice(),
					'firstkeypress': $scope.firstKeypress,
					'backspaces': $scope.numberOfBackspaces,
					'requirementserror': $scope.requirementserror
				},
				headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				cache: $templateCache
			}).then(function(data){
                switch ($scope.options.step){
                    case 5:
                        document.location = "/survey.html#?i="+ $scope.options.run_id+"&ru="+$scope.options.rule+"&rh="+$scope.options.rhythm;
                        break;
                    case 7:
                        document.location = "/thankyou.php?code="+ data.data;
                        break;
                    default:
						if(data.data == "0") { // password not matching
							$scope.error = "Your password doesn't match the first one you entered. Please try again.";
							$scope.inputstyle = "{'border': '1px solid red'}";
                            $scope.errorstyle="{'color':'red'}";
							$scope.reset();
                            $("#pwd").focus();
						} else {
							var nextStep = 1+$scope.options.step;
                        	document.location = "/passwordenter.html?step="+nextStep+"#?step="+nextStep+"&i="+ $scope.options.run_id+"&ru="+$scope.options.rule+"&rh="+$scope.options.rhythm;
						}

                        break;
                }
			});
        }
	}]);
</script>

</html>