<html ng-app="rhythm">
<head>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="cover.css">
</head>
<body ng-controller="MainController">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="margin-top:50px; height:600px; border-radius: 5px;" >
			<div style="position:absolute; width:100%; height: 50px;background-color:#cccccc; margin-left:-15px; border-top-left-radius: 5px; border-top-right-radius: 5px; ">
				<div class="row">
					<div class="col-md-8">
						<h3 style="margin-top:10px; margin-left:10px;">Rhythmic password usability study</h3>
					</div>
					<div class="col-md-2 col-md-offset-1">
						<button class="btn btn-primary btn-block" style="margin-top:10px; margin-left:10px;" ng-click="next()">Next</button>
					</div>
				</div>
			</div>

			<div style="position:absolute; margin-top: 100px; width:96%;">
				<div class="col-md-12">
					<div class="row" style="border-bottom:1px grey solid">
						<div class="col-md-7">Statement</div>
						<div class="col-md-1 text-center">Strongly disagree</div>
						<div class="col-md-1 text-center">Disagree</div>
						<div class="col-md-1 text-center">Neutral</div>
						<div class="col-md-1 text-center">Agree</div>
						<div class="col-md-1 text-center">Strongly agree</div>
					</div>
					<div class="row surveyblock"  style="border-bottom:1px grey solid" ng-show="step == 0">
						<div ng-repeat="question in questions_all">
							<div class="col-md-7" style="height:35px;">{{question.q}}</div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="1"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="2"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="3"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="4"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="5"></div>
						</div>
					</div>

					<div class="row surveyblock" style="border-bottom:1px grey solid" ng-show="options.rhythm == '1' && step == 1">
						<div ng-repeat="question in questions_rhythm">
							<div class="col-md-7" style="height:35px;">{{question.q}}</div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="1"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="2"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="3"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="4"></div>
							<div class="col-md-1"><input type="radio" name="{{question.q}}" ng-model="question.answer" value="5"></div>
						</div>
					</div>

					<div class="row surveyblock" ng-show="step == 2" style="margin-bottom:10px;">
						<div class="col-md-7" style="height:35px;">I use computers regularly.</div>
						<div class="col-md-1"><input type="radio" name="q16" ng-model="q16" value="1"></div>
						<div class="col-md-1"><input type="radio" name="q16" ng-model="q16" value="2"></div>
						<div class="col-md-1"><input type="radio" name="q16" ng-model="q16" value="3"></div>
						<div class="col-md-1"><input type="radio" name="q16" ng-model="q16" value="4"></div>
						<div class="col-md-1"><input type="radio" name="q16" ng-model="q16" value="5"></div>
						<div class="col-md-7">Do you play an instrument?</div>
						<div class="col-md-1"><label class="radio-inline"><input type="radio" name="instrument" ng-model="instrument" value="0"> no</label></div>
						<div class="col-md-1"><label class="radio-inline"><input type="radio" name="instrument" ng-model="instrument" value="1"> yes</label></div>
					</div>
					<div class="row" ng-show="options.rhythm == '1' && step == 2" style="margin-bottom:10px;">
						<div class="col-md-7">What did you come up with first?</div>
						<div class="col-md-2"><label class="radio-inline"><input type="radio" name="q17" ng-model="q17" value="1"> Rhythm</label></div>
						<div class="col-md-3"><label class="radio-inline"><input type="radio" name="q17" ng-model="q17" value="2"> Password</label></div>
						<div class="col-md-4 col-md-offset-7"><label class="radio-inline"><input type="radio" name="q17" ng-model="q17" value="3"> I can't remember</label></div>
					</div>
					<div class="row" ng-show="step == 2" style="margin-bottom:10px;">
						<div class="col-md-7">What is your gender?</div>
						<div class="col-md-2"><label class="radio-inline"><input type="radio" name="gender" ng-model="gender" value="1"> Male</label></div>
						<div class="col-md-3"><label class="radio-inline"><input type="radio" name="gender" ng-model="gender" value="2"> Female</label></div>
						<div class="col-md-2 col-md-offset-7"><label class="radio-inline"><input type="radio" name="gender" ng-model="gender" value="3"> Other</label></div>
						<div class="col-md-3"><label class="radio-inline"><input type="radio" name="gender" ng-model="gender" value="0"> Prefer not to answer</label></div>
					</div>
					<div class="row" style="margin-bottom:20px;" ng-show="step == 2">
						<div class="col-md-7"><span>What is your age?</span></div>
						<div class="col-md-5"><input type="text" name="age" ng-model="age" value=""></div>
					</div>

				</div>
			</div>

			<div style="position:absolute; width:100%; height: 50px;background-color:#cccccc; margin-left:-15px; margin-top:650px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; ">
				<div class="row">
					<div class="col-md-8">
						<h3 style="margin-top:10px; margin-left:10px;"></h3>
					</div>
					<div class="col-md-3">
						<button class="btn btn-primary btn-block" style="margin-top:10px; margin-left:10px;" ng-click="next()">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>

<script type="text/javascript">

angular.module('rhythm', []).controller('MainController', ['$scope','$http','$templateCache', '$location', function($scope, $http, $templateCache, $location) {
	$scope.step = 0;

	$scope.startTime = Date.now();

	$scope.shuffle = function(a) {
		for (i = a.length; i; i--) {
			j = Math.floor(Math.random() * i);
			x = a[i - 1];
			a[i - 1] = a[j];
			a[j] = x;
		}
	}

	$scope.questions_all = [
		{ 'key':'q1', 'answer': 0, 'q': 'It was easy for me to choose a password.'},
		{ 'key':'q2', 'answer': 0, 'q': 'I had difficulties in selecting a suitable password.'},
		{ 'key':'q3', 'answer': 0, 'q': 'Entering the password was easy.'},
		{ 'key':'q4','answer': 0, 'q': 'It was annoying to enter my password.'},
		{ 'key':'q5', 'answer': 0, 'q': 'I think my password is secure.'},
		{ 'key':'q6', 'answer': 0, 'q': 'I think it will be easy for attackers to guess my password.'},
	];

	$scope.shuffle($scope.questions_all);

	$scope.questions_rhythm = [
		{ 'key':'q7', 'answer': 0, 'q': 'It was easy for me to choose a rhythm.'},
		{ 'key':'q8','answer': 0, 'q': 'I had difficulties in finding a suitable rhythm.'},
		{ 'key':'q9','answer': 0, 'q': 'I think the rhythm will help me remembering my password.'},
		{ 'key':'q10','answer': 0, 'q': 'Combining rhythm and password was hard.'},
		{ 'key':'q11','answer': 0, 'q': 'Combining rhythm and password was fun.'},
		{ 'key':'q12', 'answer': 0, 'q': 'I think the rhythm I chose is hard to guess for attackers.'},
		{ 'key':'q13','answer': 0, 'q': 'I don\'t think the rhythm component adds security to my password.'},
		{ 'key':'q14','answer': 0, 'q': 'I would like to use this method every day.'},
		{ 'key':'q15','answer': 0, 'q': 'It would annoy me if all my passwords needed to have a rhythm component.'}
	]	;
	$scope.shuffle($scope.questions_rhythm);
	$scope.q16 = 0;
	$scope.q17 = 0;



	$scope.browser =  (function(){
		var ua= navigator.userAgent, tem,
		M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
		if(/trident/i.test(M[1])){
			tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
			return 'IE '+(tem[1] || '');
		}
		if(M[1]=== 'Chrome'){
			tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
			if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
		}
		M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
		if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
		return M.join(' ');
	})();

	$scope.options = {
		'run_id': $location.search().i,
		'rhythm': $location.search().rh,
		'rule' : $location.search().ru
	};

	$scope.get_qX = function(set, x){
		var s = set == 0 ? $scope.questions_all : $scope.questions_rhythm;
		for (i = 0; i <s.length; i++) if(s[i].key == x) return s[i].answer;
	}

	$scope.next = function(){
		if($scope.step == 0){
			$scope.step = $scope.options.rhythm == '1' ? 1 : 2;
		} else if ($scope.step == 1) {
			$scope.step = 2;
		} else {
			$http({
				method: 'POST',
				url: 'php/log_next.php',
				data: {
					'run_id': $scope.options.run_id,
					'duration': Date.now()-$scope.startTime,
					'page': 9,
					'q1': $scope.get_qX(0, 'q1'),
					'q2': $scope.get_qX(0, 'q2'),
					'q3': $scope.get_qX(0, 'q3'),
					'q4': $scope.get_qX(0, 'q4'),
					'q5': $scope.get_qX(0, 'q5'),
					'q6': $scope.get_qX(0, 'q6'),
					'q7': $scope.get_qX(1, 'q7'),
					'q8': $scope.get_qX(1, 'q8'),
					'q9': $scope.get_qX(1, 'q9'),
					'q10': $scope.get_qX(1, 'q10'),
					'q11': $scope.get_qX(1, 'q11'),
					'q12': $scope.get_qX(1, 'q12'),
					'q13': $scope.get_qX(1, 'q13'),
					'q14': $scope.get_qX(1, 'q14'),
					'q15': $scope.get_qX(1, 'q15'),
					'q16': $scope.q16,
					'q17': $scope.q17,
					'gender': $scope.gender,
					'age':$scope.age,
					'instrument': $scope.instrument,
					'browser': $scope.browser
				},
				headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				cache: $templateCache
			}).then(function(data){
				document.location = "/passwordenter.html#?step=7&i="+ $scope.options.run_id+"&ru="+$scope.options.rule+"&rh="+$scope.options.rhythm;
			});
		}
	}
}]);
</script>

</html>
